<ion-tabs>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="onQR();" style="margin-top: -74px;">
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="activity">
      <!-- <ion-icon name="flash"></ion-icon> -->
      <img src="assets/img/activity.svg" width="16px" margin-4 />
      <ion-label>Activity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deposit">
      <!-- <ion-icon name="apps"></ion-icon> -->
      <img src="assets/img/deposit.svg" width="20px" margin-4 />
      <ion-label>Deposit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transfer">
      <!-- <ion-icon name="send"></ion-icon> -->
      <img src="assets/img/transfer.svg" width="20px" margin-4 />
      <ion-label>Transfer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="withdraw">
      <!-- <ion-icon name="send"></ion-icon> -->
      <img src="assets/img/withdraw.svg" width="20px" margin-4 />
      <ion-label>Withdraw</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>