<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="title-icon">
        <img src="assets/img/logo-light.svg" width="100px" />
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <h2>0.00 £</h2>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-scroll>

  <ion-card>
    <ion-item (click)="onGetLoginTokens();" [disabled]="loading" lines="none">
      <!-- <ion-avatar slot="start">
        <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1765.png">
      </ion-avatar> -->
      <!-- <ion-icon name="wallet" slot="start"></ion-icon> -->
      <ion-label>
        <h2>1. CLICK TO GET LOGIN TOKENS</h2>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item (click)="onBalanceLoginTokens();" [disabled]="loading" lines="none">
      <ion-label>
        <h2>2. CHECK LOGIN TOKENS BALANCE</h2>
        <p>You have {{ loginTokensBalance }} login tokens.</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item [disabled]="loading" lines="none">
      <ion-label>
        <h2>3. CLICK SCAN QR CODE BELOW</h2>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- <ion-card>
    <ion-item href="#" lines="none" color="secondary">
      <ion-icon name="wallet" slot="start"></ion-icon>
      <h3>Deposit</h3>
    </ion-item>

    <ion-item href="#" lines="none" color="secondary">
      <ion-icon name="pricetags" slot="start"></ion-icon>
      <h3>Deals</h3>
    </ion-item>
  </ion-card> -->


</ion-content>