<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title>
      <div class="title-icon">
        <img src="assets/img/logo-light.svg" width="100px" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row lines="none">
      <ion-col text-center>
        <h1>Coming soon!</h1>
      </ion-col>
    </ion-row>


    <div padding text-center>
      <ion-button color="secondary">GO BACK</ion-button>
    </div>
  </ion-grid>

</ion-content>