// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


@font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/poppins.woff2') format('woff2'),
         url('/assets/fonts/poppins.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ion-card, .card-md, .card-ios {
    box-shadow: none !important;
    border: 1px solid #d8d8d8;
}

ion-content {
    --background: var(--ion-background-color, transparent);
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

[no-scroll] {
    .scroll-content {
        overflow: hidden;
    }  
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }
}

.title-icon {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
    margin-top: 10px;
}